
@{
    ViewData["Title"] = "Submitted Quotes";
}

@model QuoteAssignment.Models.Quotes

<div>
    <h2>
        Thanks for the suggestion!
    </h2>

<!--This is the link to the Quote List page, which will also contain the quote they just entered-->
</div>
<div>Click <a asp-action="QuoteList">here</a> to see the list of quotes you've entered!</div>