@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">The Spencer Hilton Quotes Database Page</h1>
</div>
<br/>


<!--Add pic of Spencer-->
<!--Best professor ever, look at that smiling face!!-->
<div class="text-center">
    <img src="~/img/Spencer-Hilton-Headshot.png" width="500" height="500" />
</div>